$default-width: 60%;
$default-height: 3em;
$default-padding: 10em;
$default-margin-top: 1em;
$default-margin-left: 1em;

//block style
$block-fontsize: 15pt;
$block-font: Open Sans;
$block-width: 60%;
$block-margin: 0px 5% 5%;
$block-padding: 1.2em 30px 1.2em 75px;
$block-border-left: 8px solid;
$block-line-height:1.6;
$block-position: relative;